<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlCB2qqemubEhYS2aG8FC27lfdgGqljcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>915917587503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shawerma.overdose</string>
	<key>PROJECT_ID</key>
	<string>overdose-shawarma-aa0ae</string>
	<key>STORAGE_BUCKET</key>
	<string>overdose-shawarma-aa0ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915917587503:ios:c2a891a683758ec5f432da</string>
</dict>
</plist>